/* global page features */

body{
width:100%;
margin:0px;
padding-right:0px;
padding:0px;
overflow-x:hidden;
font-family:Trebuchet MS;
overflow:scroll;
background: url("/images/musicNotes.jpg") no-repeat bottom left;
	background-attachment: fixed;
}


#all{
width:1024px ;
margin:auto;
padding:0px 0px 0px 0px;
margin-bottom:0px;
}


input[placeholder] {
font-size:120%;
}
