#content h1 {
position:absolute;
left:500px;
top:-150px;
}

#results {
position:absolute;
top:50px;
left:50px;
}

#genreChoose p {
position:absolute;
top:59px;
left:889px;
word-spacing:0.5em;
padding-left:8px;
padding-top:4px;
padding-bottom:6px;
height:20px;
width:115px;
border:solid 1px;
position:relative;
z-index:1;
z-index:1;
}

#genreChoose a {
text-decoration:none;
}

#pink{
 color:#bd5190;
}

#black{
color:black;
}

#genreChoose img {
position:absolute;
top:60px;
right:73px;
z-index:0;
}

#displayTrack {
margin-top:80px;
min-height:600px;
width:1000px;
}

#tableLoop {
margin-top:20px;
margin-left:40px;
border:solid 1px;
border-top:solid 2px;
border-collapse:collapse;
font-size:90%;
position:relative;
width:900px;
}

#tableLoop td img{
position:absolute;
top:0px;
right:0px;
}

#tableLoop td {
border-bottom:solid 2px grey;
border-right:solid 2px black;
border-left:solid 2px black;
padding-top:3px;
padding-bottom:2px;
padding-left:3px;
position:relative;
}

#tableLoop th {
border-bottom:solid 2px grey;
border-right:solid 2px black;
border-left:solid 2px black;
padding-top:3px;
padding-bottom:2px;
padding-left:3px;
text-align:center;
}

#check{
margin-left:20px;
margin-bottom:8px;
}

#displayCheck{
position:absolute;
top:50px;
width:10px;
height:370px;

}

#remove{
position:absolute;
bottom:0px;
left:50px;
}

#remove p {
color:white;
font-size:130%;
position:absolute;
top:-17px;
left:20px;
}

#apply{
position:absolute;
bottom:0px;
right:0px;
}

#apply p {
color:white;
font-size:130%;
position:absolute;
top:-17px;
left:30px;
}

/* FOOTER */

#content{
position:relative;
margin-top:190px;
}

/* ---------------Table stuff------------------ */
#tableLoop {
border:solid 2px;
padding-top:2px;
border-collapse:collapse;
cursor:pointer;
-webkit-box-shadow: 0px 0px 4px 0px #000000;
      	box-shadow: 0px 0px 4px 0px #000000;
}

#tableLoop td {
border-bottom:solid 2px grey;
border-right:solid 2px black;
border-left:solid 2px black;
margin-left:2%;
}

#tableLoop th{
text-align:center;
border:solid 2px;
border-collapse:collapse;
}


div.dataTables_length {
    float: left;
}
 
div.dataTables_filter {
    float: right;
    position:relative;
    left:-50px;
}
 
div.dataTables_info {
    float: left;
    position:relative;
    left:30px;
}
 
div.dataTables_paginate {
    float: right;
    display:block;
    margin: 5px;
    cursor:pointer;
    position:relative;
    left:-50px;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}

table.tableStyle {
    clear: both;
}
 
table.tableStyle {
    width: 100%;
    clear: both;
}
 
table.tableStyle td,
table.tableStyle th {
    padding: 5px;
    border: 1px solid #fff;
}

/* Header cells */
table.tableStyle thead th {
    text-align: center;
    background: #bd5190;
}

/* Body cells */
table.tableStyle tbody th {
    text-align: left;
}
     
table.tableStyle tbody td {
    text-align: center;
}

table.tableStyle tbody {
    background-color:white;
}
         
table.tableStyle tbody tr.odd td {
}

#tableLoop_previous, #tableLoop_next
{
	margin:5px;
}

#tableLoopA_previous, #tableLoopA_next
{
	margin:5px;
}

#gMiddleDivClient
{
	height:530px;
	width:600px;
	-webkit-box-shadow: 0px 0px 4px 0px #000000;
      	box-shadow: 0px 0px 4px 0px #000000;
	-webkit-border-radius: 12px;
          border-radius: 12px;
  	-webkit-background-clip: padding-box; 
  		background-clip: padding-box;
	 background-color: #444444;
}


#gMiddleDivClient div
{
	width:90%;
	margin-left:7px;
	margin-top:5px;
	height:30px;
}